.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.header ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;   
    gap: 15px;
}

.header ul a {
    text-decoration: none;
}

.first-container {
    display: flex;
    flex-direction: row;
}